:root {
  --blue: rgb(13, 110, 253);
  --light-blue: rgba(13, 110, 253, 0.4);
  --dark-color: #333333;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  color: var(--dark-color);
  line-height: 1.15;
  font-size: 16px;
  background: #FFFFFF;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 15px;
}

.header {
}

.title {
  text-align: center;
  font-size: 28px;
  margin: 30px 0;
}

.text {
  margin: 0 0 1.15em 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

.list {
  padding: 0 0 0 30px;
  margin: 0;
}

.list > li {
  font-size: 16px;
  line-height: 1.5;
}

.navbar__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 30px;
}

.navbar__link {
  color: inherit;
  font-size: 18px;
  opacity: 0.85;
  transition: all 0.2s ease-in;
}

.logo {
  width: 50px;
  height: 50px;
  transition: all 0.2s ease-in;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar__link:hover {
  opacity: 1;
}

.question {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.button {
  font-size: 16px;
  font-weight: 400;
  min-width: 100px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid var(--blue);
  background-color: transparent;
  color: var(--blue);
  transition: all 0.2s ease-in;
  text-align: center;
}

.button:hover {
  background-color: var(--blue);
  color: white;
}

.result {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1em;
}

.recommendation {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1em;
}

.text-bold {
  font-weight: 700;
}

.editor {
  padding: 30px 0px;
}

.questions-list {
  padding: 0 0 0 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.questions-list__add-button {
  margin-bottom: 30px;
  margin-left: 15px;
}

.questions-list__item-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.questions-list__item-title {
  font-size: 16px;
  flex: 1 1 500px;
}

.questions-list__button-group {
  display: flex;
  gap: 10px;
}

.questions-list__button {
  margin: 0;
}

.quiz {
  padding-top: 30px;
}

.quiz__button:not(:last-child) {
  margin-right: 20px;
  margin-bottom: 20px;
}

.form {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__title {
  padding: 0;
  margin: 0 0 15px 0;
  font-size: 24px;
}

.form__control {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__label {
  font-size: 16px;
}

.form__input {
  border: 1px solid grey;
  padding: 8px 16px;
  border-radius: 8px;
  color: var(--dark-color);
  font-size: 16px;
  line-height: 1.15;
}

.form__input:focus {
  border-color: var(--light-blue);
  box-shadow: 0 0 2px 2px var(--light-blue);
}

.form__select {
  border: 1px solid grey;
  padding: 8px 16px;
  border-radius: 8px;
  color: var(--dark-color);
  font-size: 16px;
  line-height: 1.15;
}

.invalid-tooltip {
  font-size: 14px;
  color: red;
  align-self: flex-start;
}

.form__button {
  max-width: 150px;
  align-self: flex-start;
}