.body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#root {
  margin: 0 auto;
  padding: 15px;
  max-width: 1200px;
}

.question {
  font-size: 24px;
  font-weight: 700;
}

.button {
  font-size: 18px;
  font-weight: 400;
  min-width: 100px;
  padding: 10px 15px;
  margin-right: 20px;
  border-radius: 10px;
  border: 2px solid blue;
  background-color: transparent;
  color: blue;
  text-align: center;
  transition: all 0.2s ease-in;
}

.button:hover {
  background-color: blue;
  color: white;
}

.result {
  font-size: 20px;
  font-weight: 400;
}

.recommendation {
  font-size: 18px;
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}
