:root {
  --blue: rgb(13, 110, 253);
  --light-blue: rgba(13, 110, 253, 0.4);
  --dark-color: #333333;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  color: var(--dark-color);
  line-height: 1.15;
  font-size: 16px;
  background: #FFFFFF;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 15px;
}

.header {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.075);
}

.title {
  font-size: 28px;
}

.starter__title {
  margin: 30px 0;
  text-align: center;
}

.starter__text {
  margin: 0 0 1.15em 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

.starter__list {
  padding: 0 0 0 30px;
  margin: 0;
}

.starter__list>li {
  font-size: 16px;
  line-height: 1.5;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 30px;
}

.navbar__button-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar__link {
  color: inherit;
  font-size: 18px;
  opacity: 0.85;
  transition: all 0.2s ease-in;
}

.logo {
  width: 50px;
  height: 50px;
  transition: all 0.2s ease-in;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar__link:hover {
  opacity: 1;
}

.editor__container {
  padding-top: 45px;
  padding-bottom: 45px;
}

.form {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__title {
  padding: 0;
  margin: 0 0 15px 0;
  font-size: 24px;
  text-align: center;
}

.form__control {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__label {
  font-size: 16px;
  transition: all 0.2 ease-in;
}

.form__input {
  border: 1px solid grey;
  padding: 8px 16px;
  border-radius: 8px;
  color: var(--dark-color);
  font-size: 16px;
  line-height: 1.15;
  transition: all 0.2s ease-in;
}

.form__input:focus {
  border-color: var(--light-blue);
  box-shadow: 0 0 2px 2px var(--light-blue);
}

.form__control_floating {
  position: relative;
}

.form__control_floating .form__label {
  position: absolute;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: all 0.2s ease-in;
}

.form__control_floating .form__input {
  padding-top: 28px;
}

.form__control_floating .form__input::placeholder {
  opacity: 0;
  visibility: hidden;
}

.form__control_floating .form__input:focus + .form__label,
.form__control_floating .form__input:not(:placeholder-shown) + .form__label {
  top: 8px;
  transform: none;
  color: grey;
  font-size: 14px;
}

.form__select {
  border: 1px solid grey;
  padding: 8px 16px;
  border-radius: 8px;
  color: var(--dark-color);
  font-size: 16px;
  line-height: 1.15;
}

.form__select:focus {
  border-color: var(--light-blue);
  box-shadow: 0 0 2px 2px var(--light-blue);
}

.invalid-tooltip {
  font-size: 14px;
  color: red;
  align-self: flex-start;
}

.form__button {
  max-width: 110px;
}

.quiz__question {
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}

.quiz__result {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1em;
}

.quiz__recommendation {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1em;
}

.quiz__button-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quiz__button {
  align-self: flex-start;
}

.button {
  font-size: 16px;
  font-weight: 400;
  min-width: 100px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid var(--blue);
  background-color: transparent;
  color: var(--blue);
  transition: all 0.2s ease-in;
  text-align: center;
}

.button:hover {
  background-color: var(--blue);
  color: white;
}

.questions-list {
  padding: 0 0 0px 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.questions-list__add-button {
  margin-bottom: 30px;
}

.questions-list__item-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.questions-list__item-title {
  font-size: 16px;
  flex: 1 1 500px;
}

.questions-list__button-group {
  display: flex;
  gap: 10px;
}

.questions-list__button {
  margin: 0;
}

.questions-list__select {
  margin-bottom: 30px;
}

.page-not-found {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-not-found__img {
  width: 300px;
  height: 300px;
}

.page-not-found__title {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}

.login__body {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.login__form {
  gap: 20px;
}

.login__signup {
  padding-top: 20px;
  font-size: 16px;
  text-align: center;
}

.login__signup a {
  text-decoration: underline;
  color: var(--blue);
}